app.db
chaindata
evm.db
receipts_db
genesis.json
loom
local_private_key
extdev_private_key
networks/13654820909954.json
networks/4447.json
networks/5777.json
types/truffle-contracts
.patched-truffle-cli_history
